<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.portfolio.androidstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".session4.SampleLifeCycleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".session4.SampleTaskActivity"/>
        <activity android:name=".session4.SampleParcelableMenuActivity" />
        <activity android:name=".session4.SampleParcelableActivity" />
        <activity android:name=".session4.SampleCallIntentMenuActivity" />
        <activity android:name=".session4.SampleCallIntentActivity" />
        <activity
            android:name=".session4.SampleIntentMenuActivity"
            android:label="메뉴 액티비티"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".session4.SampleIntentActivity" />
        <activity android:name=".session4.SampleLayoutInflaterActivity" />
        <activity android:name=".session3.DoitMission6Activity" />
        <activity android:name=".session3.DoitMission5Activity" />
        <activity android:name=".session3.SampleProgressActivity" />
        <activity android:name=".session3.SampeDialogActivity" />
        <activity android:name=".session3.SampleToastActivity" />
        <activity android:name=".session3.SampleDrawable" />
        <activity android:name=".session3.SampleWidgetActivity" />
        <activity android:name=".session2.DoitMission4Activity" />
        <activity android:name=".session2.DoitMisson3Activity" />
        <activity android:name=".session2.SampleScrollActivity" />
        <activity android:name=".session2.SampleFrameActivity" />
        <activity android:name=".session2.SampleTableActivity" />
        <activity android:name=".session2.SampleRelativeActivity" />
        <activity android:name=".session1.SampleLinearLayout" />
        <activity android:name=".DoitMission2Activity" />
        <activity android:name=".DoitMission1Activity" />
        <activity android:name=".session1.SampleConstraintActivity" />
        <activity android:name=".session1.Study2_1_2Activity" />
        <activity android:name=".session1.MainActivity" />
        <activity android:name=".session1.LayoutCodeActivity" />
    </application>

</manifest>